div 
    {
        margin: 25px;
        padding: 15px;
        border: 5px solid gray;
        background-color: indianred;
        color: ivory;
        width: 700px;
        height: auto;
        font-family: sans-serif;
        font-style: italic;
    }
#special{
    background-color: lightslategray;
    border: 5px solid black;
    border-radius: 5px;
}
.s1, .s2{    
    color: black;
    font-weight: bold;
}
.p1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    

