body{
    background-color: rgb(220, 220, 220);
    margin: 0 auto;
} 
.container{
    width: 1000px;
    height: auto;
    background-color: white;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
}
.logo{
    float: left;
}
.search{
    float: right;
    padding: 25px;
}
.clearfix{
    clear: both;
}
.main-menu{
    background-color: rgb(11, 138, 197);
}
.main-menu > ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.main-menu > ul > li{
    display: inline-block;

}
.main-menu > ul > li > a{
    color: azure;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-family: sans-serif;
}
.main-menu > ul > li > a:hover{
    background-color: rgb(76, 123, 145);
}
.drop{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    display: none;
}
.drop > li> a{
    color: azure;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-family: sans-serif;
    background-color: rgb(6, 54, 77);
}
.drop > li> a:hover{
    background-color: rgb(76, 123, 145);
}
.main-menu > ul > li:hover .drop{
    display: block;
}
.banner{
    width: 1000px;
    height: 416.66px;
    overflow: hidden;
}
.banner img{
    width: 100%;
    height: auto;
}